{% extends 'portHome/base.html' %}
{% block content %}

<section id='fullscreen-home' class='content'>
  <div id='welcome-message'  class='col-md-10 col-md-offset-2'>
    <h1>PanDev</h1>
    <p class='lead'>Pan-development. Fullstack developer</p>
    <a href="{% url 'portHome:about' %}" type='button' class='btn btn-success'>More about me</a>
  </div>
</section>

<div id='frontend' class='parallax'>
  <div>
    <h1>Projects</h1>
  </div>
</div>

<section class='content'>

  <div class='container-fluid'>
    <div class='section-description'>
      <p>Let's talk about frontend stuff</p> <!-- centre it -->
    </div>
    <ul class='projects clearfix'>
      {% for project in projects %}
      <li class='project container'>
        <div class='row'>
          <h2>{{project.name}}</h2>
          <div class='col-xs-8'>
            <p>
              <i>
                {% for technology in project.technologies.all %}
                {{technoloy.name}},
                {% endfor %}
              </i>
            </p>
            <p>{{project.description}}</p>
            <a href='{project.git_link}'>GitHub</a>
          </div>
          <div class='col-xs-3 col-xs-offset-1 detailImage'>
            <a href='{% url 'portHome:details' project.id %}'>
              <img class='projectImage' src="{{project.image}}"/>
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    </div>
  </div>

</section>

{% endblock %}
