/* Sticky footer styles stolen from codeschool
-------------------------------------------------- */
html, body {
  position: relative;
  min-height: 100%;
  margin:0;
  background-color: #E5EFE3;
}
body {
  /* Margin bottom by footer height */
}

html>body .content {
  height: auto;
}

h1,h2,h3 {
  font-family: "Leto";
}

p, a {
  font-family: "Lora";
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

.navbar-inverse {
  position:absolute;
  background: transparent;
  width: 80vw;
  color: white;
}

#fullscreen-home {
  background: url(http://www.desktopwallpaperhd.net/wallpapers/13/4/wallpapers-computer-forest-bamboo-plant-eeddbc-135604.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  color: white;
}

#frontend {
  background-image: url(http://janeto.com/img/slides/responsive.jpg);
}

#backend {
  background-image: url(https://2.bp.blogspot.com/-QbtuODo_9Dw/VvBFDmQOorI/AAAAAAAAAHk/wSxISxtzFx48uLvlTnIxQiWdn7d1FNhZg/s1600/linux_file_system.png);
}

#coding {
  background-image:  url(https://pbs.twimg.com/media/ClK5mndUsAAMT15.jpg);
}

.parallax {
  background-attachment: fixed;
  background-size: cover;

  /*centres content perfectly with flexing */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  color: white;
}

.section-description {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  list-style: none;
}

.project {
  height: 25%;
  border: 10px black;
}
/* eh not sure about this
li.project {
  border-top-color: #A9CCA3;
  border-top-style: solid;
  border-top-width: 2px;
}
*/

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
