html, body {
  position: relative;
  min-height: 100%;
  margin:0;
  background-color: #E5EFE3;
}

html>body .content {
  height: auto;
}

h1,h2,h3 {
  font-family: Arial;
}

p, a {
  font-family: Arial;
  font-size: 1.5em;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

.navbar-inverse {
  position: fixed;
  background-color: transparent/*rgba(43,49,24,0.5)*/;
  width: 100vw;
  color: white;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-right{
  margin-right: 10px;
  color: white;
}

#fullscreen-home {
  background: url(http://www.desktopwallpaperhd.net/wallpapers/13/4/wallpapers-computer-forest-bamboo-plant-eeddbc-135604.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  color: white;
}

#frontend {
  background-image: url(http://janeto.com/img/slides/responsive.jpg);
}

.parallax {
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  color: white;
}

.section-description {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.project {
  max-width: 75vw;
}

.footer {
  width: 100%;
  min-height: 200px;
  color: #efefef;
  background-color: #333;
}

.centredBlock{
  border-radius: 1%;
  min-height: 80%;
  background-color: #E5EFE3;
  padding: 20px;
}

.detailTitle{
  display: flex;
  justify-content: center;
}

.detailImage{
  border-radius: 1%;
  border-style: solid;
  border-color: grey;
  padding: 0;
}

.detailImage:hover{
  border-color: black;
}

.detailImage img{
  width: 100%;
}

.detailDescription{
  margin-top: 30px;
}

#detail-row{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

#aboutMe {
  position: relative;
  margin-bottom: 5vh;
}

#details {
  width: 50vw;
}

@media only screen and (min-width: 1073px){
  #details {
    margin-top: 5vh;
  }
}

#aboutMe img {
  margin-right: 5vw;
}

@media only screen and (max-width: 1073px) {
  #aboutMe img {
    margin-top: 5vh;
  }
}
